{% extends 'layouts/base.html' %}

{% block title %} Simple Trainer | Erreur 400 {% endblock %}

{% block content %}
    <h1>Erreur 400</h1>
    <p>Cette erreur signifie que vous vous trouvez actuellement sur une page qui n'existe pas sur notre site, ou que vous tentez d'accéder à des dnnées inexistantes.</p>
    <p>Cela peut arriver si vous tentez d'accéder à la rubrique 'Espace Personnel', alors que vous vous êtes connecté avec Google, Facebook, GitHub, ou autre réseau social.</p>
    <p>Veuillez nous excusez pour ce désagrément, nous faisons tout notre possible pour régler ce problème au plus vite.</p>
{% endblock %}