{% extends 'layouts/base.html' %}
{% load static %}

{% block titre %}Bibliotheque{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th colspan=3>Entête à redéfinir</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in stats %}
                <div class="program">
                    <tr>
                        <td colspan=2 rowspan = 2 class="titre">{{ stat.program_ref.name }}</td>
                        <td class="download">{{ stat.download_number}} <img src="{% static 'images/logo_download.png' %}"/></td>
                    </tr>
                    <tr>
                        <td class="favorites">{{ stat.favorite_number}} <img src=/></td>
                    </tr>
                    <tr>
                        <td colspan=2 class="description">{{ stat.program_ref.description }}</td>
                        <td class="avarage-rating">{{ stat.avarage_rating}} / 10</td>
                    </tr>
                </div>
            {% empty %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block title %} Simple Trainer | Bibliotheque {% endblock %}