{% extends 'layouts/base.html' %}
{% load static %}

{% block titre %}Bibliotheque{% endblock %}

{% block content %}
<div class="program_table">
	<div class="trier_filtrer">
	    <p class="trier">Trier</p>
	    <p class="filtrer">Filtrer</p>
	</div>
	{% for stats in stats %}
	<div class="program_case">
	    <p class="program_title"><a href="{% url 'notice' %}">{{stats.program_ref.name}}</a></p>
	    <p class="program_description">{{stats.program_ref.description}}</p>
	    <p class="program_download">{{stats.download_number}} <img src="{% static 'images/download_logo.png' %}"></p>
	    <p class="program_favorite">{{stats.favorite_number}} <img src="{% static 'images/favorite_logo.jpg' %}"></p>
	    <p class="program_avarage_rating">{{stats.avarage_rating}} / 10</p>
	</div>
</div>
{% endfor %}
{% endblock %}

{% block title %} Simple Trainer | Bibliotheque {% endblock %}
